@import "src/styles.scss";

.uploadInput {
  @extend .loginInput;
}

.container {
  @extend .appContainer;
  margin-right: auto;
  margin-left: auto;
}

textarea {
  resize: none;
  height: 200px;
}

select {
  margin-left: 10px;
  margin-right: 10px;
}

.deleteBtn {
  width: 150px;
  height: 30px;
  padding: 0;
}
